automations/n8n-evo-supabase-leads.json
{
  "name": "CVI Facil - Supabase Leads para Grupo Evo",
  "nodes": [
    {
      "parameters": {
        "content": "Antes de ativar: selecione a credencial `Supabase CVI`. No node `Preparar alerta gestor`, confirme a URL base, instancia e JID do grupo. No node `Evo HTTP - Enviar para grupo`, cole a API key no header `apikey`. A mensagem vai para o grupo, nao para o cliente.",
        "height": 120,
        "width": 540
      },
      "id": "setup-note",
      "name": "Nota de configuracao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Rodar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Rodar a cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        340
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "cvi_leads_evo_pendentes",
        "returnAll": false,
        "limit": 20,
        "filterType": "none"
      },
      "id": "get-pending-leads",
      "name": "Supabase - Buscar pendentes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase CVI"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Enviar um por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -460,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\n\nconst evoBaseUrl = 'https://evo.embarcompany.cloud';\nconst evoInstance = 'cvi';\nconst managerGroupJid = '120363426954252951@g.us';\n\nconst normalizePetText = (value) => {\n  return String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/cao\\(caes\\)/gi, 'cachorro(s)')\n    .replace(/cao/gi, 'cachorro')\n    .replace(/caes/gi, 'cachorros')\n    .replace(/1 cachorro\\(s\\)/gi, '1 cachorro')\n    .replace(/(\\d+)\\s+cachorro\\(s\\)/gi, '$1 cachorros')\n    .replace(/1 gato\\(s\\)/gi, '1 gato')\n    .replace(/(\\d+)\\s+gato\\(s\\)/gi, '$1 gatos')\n    .trim();\n};\n\nconst formatList = (value) => {\n  if (Array.isArray(value)) return value.filter(Boolean).join(', ');\n  return String(value || '').trim();\n};\n\nconst clientPhone = lead.whatsapp_e164 || lead.raw_payload?.whatsapp_e164 || '';\nconst clientDigits = String(clientPhone || lead.whatsapp || '').replace(/\\D/g, '');\nconst displayPhone = lead.whatsapp_international || lead.raw_payload?.whatsapp_international || clientPhone || lead.whatsapp || 'Nao informado';\nconst email = lead.email_opcional || lead.raw_payload?.email_opcional || lead.raw_payload?.tutor_email || lead.raw_payload?.email || lead.raw_payload?.emailOpcional || 'Nao informado';\n\nconst destination = lead.destino_final || 'Destino nao informado';\nconst origin = lead.cidade_origem || 'Origem nao informada';\nconst travelWindow = lead.data_viagem || 'Previsao nao informada';\nconst petSummary = normalizePetText(lead.pet_summary) || 'Pet nao informado';\nconst petBreed = lead.raca_pet || lead.raw_payload?.raca_pet || 'Nao informado';\nconst veterinaryProcedures = formatList(lead.procedimentos_veterinarios) || lead.procedimentos_veterinarios_texto || lead.raw_payload?.procedimentos_veterinarios_texto || 'Nao informado';\nconst createdAt = lead.created_at ? new Date(lead.created_at).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) : 'Agora';\nconst tracking = lead.tracking_params || lead.raw_payload?.tracking_params || {};\nconst trafficSource = lead.utm_source || lead.src || tracking.utm_source || tracking.src || lead.source || lead.origem || (lead.gclid || lead.gbraid || lead.wbraid || lead.dclid || tracking.gclid || tracking.gbraid || tracking.wbraid || tracking.dclid ? 'google' : lead.fbclid || lead.igshid || lead.ctwa_clid || lead.wamid || lead.tintim_fbid || tracking.fbclid || tracking.igshid || tracking.ctwa_clid || tracking.wamid || tracking.tintim_fbid ? 'meta' : lead.ttclid || lead.tt_lead_id || lead.tt_session_id || tracking.ttclid || tracking.tt_lead_id || tracking.tt_session_id ? 'tiktok' : lead.twclid || tracking.twclid ? 'x/twitter' : lead.rdt_cid || tracking.rdt_cid ? 'reddit' : lead.msclkid || tracking.msclkid ? 'microsoft' : lead.irclickid || tracking.irclickid ? 'impact' : lead.epik || tracking.epik ? 'pinterest' : 'Sem origem');\n\nconst text = `Novo lead CVI Facil\\n\\nTutor: ${lead.nome_tutor || 'Nao informado'}\\nWhatsApp: ${lead.whatsapp || 'Nao informado'}\\nWhatsApp normalizado: ${displayPhone}\\nWhatsApp E164: ${clientPhone || 'Nao informado'}\\nEmail: ${email}\\n\\nOrigem: ${origin}\\nDestino: ${destination}\\nPrevisao: ${travelWindow}\\nPet: ${petSummary}\\nRaca: ${petBreed}\\nProcedimentos veterinarios: ${veterinaryProcedures}\\n\\nFonte: ${trafficSource}\\nCriado em: ${createdAt}\\nLead ID: ${lead.id}\\n\\nAcionar o tutor pelo WhatsApp acima.`;\n\nreturn [{\n  json: {\n    ...lead,\n    client_whatsapp_normalized: clientDigits,\n    manager_group_jid: managerGroupJid,\n    evo_base_url: evoBaseUrl.replace(/\\/$/, ''),\n    evo_instance: evoInstance,\n    evo_message: text\n  }\n}];"
      },
      "id": "prepare-message",
      "name": "Preparar alerta gestor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.evo_base_url}}/message/sendText/{{$json.evo_instance}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLE_A_API_KEY_DA_EVO_AQUI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$json.manager_group_jid}}"
            },
            {
              "name": "text",
              "value": "={{$json.evo_message}}"
            },
            {
              "name": "delay",
              "value": "={{1200}}"
            },
            {
              "name": "linkPreview",
              "value": "={{false}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-evo-message",
      "name": "Evo HTTP - Enviar para grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Preparar alerta gestor').item.json;\nconst response = $json?.data || $json;\nconst messageId = response?.key?.id || response?.messageId || response?.id || response?.response?.key?.id || null;\n\nreturn [{\n  json: {\n    lead_id: lead.id,\n    evo_message_id: messageId,\n    evo_instance: lead.evo_instance\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Preparar update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "cvi_leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$json.lead_id}}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_enviada",
              "fieldValue": "={{true}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "contatado"
            },
            {
              "fieldId": "evo_message_id",
              "fieldValue": "={{$json.evo_message_id}}"
            },
            {
              "fieldId": "evo_instance",
              "fieldValue": "={{$json.evo_instance}}"
            },
            {
              "fieldId": "first_contact_at",
              "fieldValue": "={{new Date().toISOString()}}"
            },
            {
              "fieldId": "last_contact_at",
              "fieldValue": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "id": "update-lead",
      "name": "Supabase - Marcar notificado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        580,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase CVI"
        }
      }
    }
  ],
  "connections": {
    "Rodar manualmente": {
      "main": [
        [
          {
            "node": "Supabase - Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar a cada 5 min": {
      "main": [
        [
          {
            "node": "Supabase - Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Buscar pendentes": {
      "main": [
        [
          {
            "node": "Enviar um por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar um por vez": {
      "main": [
        [
          {
            "node": "Preparar alerta gestor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Preparar alerta gestor": {
      "main": [
        [
          {
            "node": "Evo HTTP - Enviar para grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo HTTP - Enviar para grupo": {
      "main": [
        [
          {
            "node": "Preparar update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar update": {
      "main": [
        [
          {
            "node": "Supabase - Marcar notificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Marcar notificado": {
      "main": [
        [
          {
            "node": "Enviar um por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "CVI Facil"
    },
    {
      "name": "Evo"
    },
    {
      "name": "Supabase"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-07-22T00:00:00.000Z",
  "versionId": "cvi-facil-evo-supabase-v14-pet-phone-tracking"
}
