automations/n8n-evo-supabase-leads.json
{
  "name": "CVI Facil - Supabase Leads para Grupo Evo",
  "nodes": [
    {
      "parameters": {
        "content": "Antes de ativar: instale `n8n-nodes-evolution-api`, selecione as credenciais `Supabase CVI` e `Evolution CVI`, ajuste `EVO_INSTANCE` e defina `EVO_MANAGER_GROUP_JID` com o JID do grupo interno/gestor. A mensagem vai para o grupo, nao para o cliente.",
        "height": 120,
        "width": 540
      },
      "id": "setup-note",
      "name": "Nota de configuracao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Rodar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Rodar a cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        340
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "cvi_leads_evo_pendentes",
        "returnAll": false,
        "limit": 20,
        "filterType": "none"
      },
      "id": "get-pending-leads",
      "name": "Supabase - Buscar pendentes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase CVI"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Enviar um por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -460,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\nconst managerGroupJid = $env.EVO_MANAGER_GROUP_JID || 'COLE_O_JID_DO_GRUPO_AQUI@g.us';\nlet clientDigits = String(lead.whatsapp || '').replace(/\\D/g, '');\n\nif (clientDigits.length >= 10 && !clientDigits.startsWith('55')) {\n  clientDigits = `55${clientDigits}`;\n}\n\nconst destination = lead.destino_final || 'Destino nao informado';\nconst origin = lead.cidade_origem || 'Origem nao informada';\nconst travelWindow = lead.data_viagem || 'Previsao nao informada';\nconst petSummary = lead.pet_summary || 'Pet nao informado';\nconst createdAt = lead.created_at ? new Date(lead.created_at).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) : 'Agora';\nconst campaign = [lead.utm_source, lead.utm_medium, lead.utm_campaign].filter(Boolean).join(' / ') || 'Sem UTM';\n\nconst text = `Novo lead CVI Facil\\n\\nTutor: ${lead.nome_tutor || 'Nao informado'}\\nWhatsApp: ${lead.whatsapp || 'Nao informado'}\\nWhatsApp normalizado: ${clientDigits || 'Nao informado'}\\nEmail: ${lead.email_opcional || 'Nao informado'}\\n\\nOrigem: ${origin}\\nDestino: ${destination}\\nPrevisao: ${travelWindow}\\nPet: ${petSummary}\\n\\nCampanha: ${campaign}\\nCriado em: ${createdAt}\\nLead ID: ${lead.id}\\n\\nAcionar o tutor pelo WhatsApp acima.`;\n\nreturn [{\n  json: {\n    ...lead,\n    client_whatsapp_normalized: clientDigits,\n    manager_group_jid: managerGroupJid,\n    evo_message: text\n  }\n}];"
      },
      "id": "prepare-message",
      "name": "Preparar alerta gestor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        240
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-text",
        "instanceName": "={{$env.EVO_INSTANCE}}",
        "remoteJid": "={{$json.manager_group_jid}}",
        "messageText": "={{$json.evo_message}}",
        "options_message": {
          "delay": 1200,
          "linkPreview": false
        }
      },
      "id": "send-evo-message",
      "name": "Evolution - Enviar para grupo",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "credentials": {
        "evolutionApi": {
          "id": "REPLACE_EVOLUTION_CREDENTIAL_ID",
          "name": "Evolution CVI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Preparar alerta gestor').item.json;\nconst response = $json?.data || $json;\nconst messageId = response?.key?.id || response?.messageId || response?.id || response?.response?.key?.id || null;\n\nreturn [{\n  json: {\n    lead_id: lead.id,\n    evo_message_id: messageId,\n    evo_instance: $env.EVO_INSTANCE\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Preparar update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "cvi_leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$json.lead_id}}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_enviada",
              "fieldValue": "={{true}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "contatado"
            },
            {
              "fieldId": "evo_message_id",
              "fieldValue": "={{$json.evo_message_id}}"
            },
            {
              "fieldId": "evo_instance",
              "fieldValue": "={{$json.evo_instance}}"
            },
            {
              "fieldId": "first_contact_at",
              "fieldValue": "={{new Date().toISOString()}}"
            },
            {
              "fieldId": "last_contact_at",
              "fieldValue": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "id": "update-lead",
      "name": "Supabase - Marcar notificado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        580,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase CVI"
        }
      }
    }
  ],
  "connections": {
    "Rodar manualmente": {
      "main": [
        [
          {
            "node": "Supabase - Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar a cada 5 min": {
      "main": [
        [
          {
            "node": "Supabase - Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Buscar pendentes": {
      "main": [
        [
          {
            "node": "Enviar um por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar um por vez": {
      "main": [
        [
          {
            "node": "Preparar alerta gestor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Preparar alerta gestor": {
      "main": [
        [
          {
            "node": "Evolution - Enviar para grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Enviar para grupo": {
      "main": [
        [
          {
            "node": "Preparar update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar update": {
      "main": [
        [
          {
            "node": "Supabase - Marcar notificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Marcar notificado": {
      "main": [
        [
          {
            "node": "Enviar um por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "CVI Facil"
    },
    {
      "name": "Evo"
    },
    {
      "name": "Supabase"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-07-16T00:00:00.000Z",
  "versionId": "cvi-facil-evo-supabase-v3"
}
