automations/n8n-evo-supabase-leads.json
{
  "name": "CVI Facil - Supabase Leads para Evo",
  "nodes": [
    {
      "parameters": {
        "content": "Antes de ativar: instale o community node `n8n-nodes-evolution-api`, crie a credencial `Supabase CVI` com Host + Service Role e crie a credencial `Evolution CVI` com Server URL + ApiKey. Ajuste `EVO_INSTANCE` no node de envio.",
        "height": 120,
        "width": 520
      },
      "id": "setup-note",
      "name": "Nota de configuracao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Rodar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Rodar a cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        340
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "cvi_leads_evo_pendentes",
        "returnAll": false,
        "limit": 20,
        "filterType": "none"
      },
      "id": "get-pending-leads",
      "name": "Supabase - Buscar pendentes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase CVI"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Enviar um por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -460,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\nlet digits = String(lead.whatsapp || '').replace(/\\D/g, '');\n\nif (digits.length >= 10 && !digits.startsWith('55')) {\n  digits = `55${digits}`;\n}\n\nconst destination = lead.destino_final || 'o destino informado';\nconst travelWindow = lead.data_viagem || 'a data informada';\nconst petSummary = lead.pet_summary || 'seu pet';\nconst firstName = String(lead.nome_tutor || '').trim().split(/\\s+/)[0] || 'tudo bem';\n\nconst text = `Olá, ${firstName}! Recebemos sua solicitação para organizar o CVI do seu pet.\\n\\nVi aqui que a viagem é de ${lead.cidade_origem || 'sua cidade'} para ${destination}, com previsão de ${travelWindow}, e o pet informado foi: ${petSummary}.\\n\\nNossa equipe já vai te orientar com os próximos passos para evitar erro de documentação, prazo ou exigência do país de destino.`;\n\nreturn [{\n  json: {\n    ...lead,\n    evo_number: digits,\n    evo_message: text\n  }\n}];"
      },
      "id": "prepare-message",
      "name": "Preparar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        240
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-text",
        "instanceName": "={{$env.EVO_INSTANCE}}",
        "remoteJid": "={{$json.evo_number}}",
        "messageText": "={{$json.evo_message}}",
        "options_message": {
          "delay": 1200,
          "linkPreview": false
        }
      },
      "id": "send-evo-message",
      "name": "Evolution - Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "credentials": {
        "evolutionApi": {
          "id": "REPLACE_EVOLUTION_CREDENTIAL_ID",
          "name": "Evolution CVI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Preparar mensagem').item.json;\nconst response = $json?.data || $json;\nconst messageId = response?.key?.id || response?.messageId || response?.id || response?.response?.key?.id || null;\n\nreturn [{\n  json: {\n    lead_id: lead.id,\n    evo_message_id: messageId,\n    evo_instance: $env.EVO_INSTANCE\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Preparar update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "cvi_leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$json.lead_id}}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_enviada",
              "fieldValue": "={{true}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "contatado"
            },
            {
              "fieldId": "evo_message_id",
              "fieldValue": "={{$json.evo_message_id}}"
            },
            {
              "fieldId": "evo_instance",
              "fieldValue": "={{$json.evo_instance}}"
            },
            {
              "fieldId": "first_contact_at",
              "fieldValue": "={{new Date().toISOString()}}"
            },
            {
              "fieldId": "last_contact_at",
              "fieldValue": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "id": "update-lead",
      "name": "Supabase - Marcar contatado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        580,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase CVI"
        }
      }
    }
  ],
  "connections": {
    "Rodar manualmente": {
      "main": [
        [
          {
            "node": "Supabase - Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar a cada 5 min": {
      "main": [
        [
          {
            "node": "Supabase - Buscar pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Buscar pendentes": {
      "main": [
        [
          {
            "node": "Enviar um por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar um por vez": {
      "main": [
        [
          {
            "node": "Preparar mensagem",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Preparar mensagem": {
      "main": [
        [
          {
            "node": "Evolution - Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Enviar texto": {
      "main": [
        [
          {
            "node": "Preparar update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar update": {
      "main": [
        [
          {
            "node": "Supabase - Marcar contatado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Marcar contatado": {
      "main": [
        [
          {
            "node": "Enviar um por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "CVI Facil"
    },
    {
      "name": "Evo"
    },
    {
      "name": "Supabase"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-07-16T00:00:00.000Z",
  "versionId": "cvi-facil-evo-supabase-v2"
}
